# VNPay Sandbox Configuration Template
vnpay.tmnCode=YOUR_TMN_CODE
vnpay.hashSecret=YOUR_HASH_SECRET
vnpay.url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnpay.returnUrl=http://localhost:8080/lux_tech/vnpay-return
vnpay.version=2.1.0
vnpay.command=pay
